@font-face {
    font-family: MiniGlobal;
    src: url('../assets/fonts/mibd.ttf');
  }
img{
    width: 100%;
    height: auto;
}
.hide{
    display: none !important;
}
.flex{
    display: flex;
    flex-direction: row;
    align-items: center;
}
/* Main Container */

#banner-container{
    position: relative;
    width: 300px;
    height: 250px;
    margin: auto;
    font-family: MiniGlobal, Arial, Helvetica, sans-serif;
    text-transform: uppercase; 
    /* padding: 7px; */
    
    
}

/* Banner */
#banner{
    height: calc(100% - 14px);
    width: calc(100% - 14px);
    background-repeat:  no-repeat; 
    background-size: 99%;
   
    /* background-color: #000; */
    /* background-position: ; */
}
 .add-margin{
    position: absolute;    
    top: 7px;
    left: 7px; 
 }
 .full{
    height: 100% !important;
    width: 100% !important;
}
/* Text Container */
.text-container{
    position: relative;
    /* top:0; */
    padding: 15px;
    z-index: 100;
}

.text{
    color: #fff;
    margin: 0;
    text-align: left;
    line-height: 1;
}
#main-text p{
    font-size: 22px;
}
#main-text h1{
    font-size: 28px;
}


/* Buttons */
#btn-container{
    position: absolute;
    bottom: 10px;
    width: 100%;
}
#btn-container button{
    font-size: 14px;
    width: 140px;
    cursor: pointer;
    text-transform: uppercase;    
    padding: 7px 2px;
    outline: none;
    border: 1px solide #fff;
    background-color: #000;    
    color: #fff;
    font-family: MiniGlobal, Arial, Helvetica, sans-serif;
    
}
#btn-container .flex{
    padding: 0 10px;
    justify-content: space-between;
    
}

#color-controls{
    font-size: 14px;
}

#color-controls .text{
    margin-right: 10px;
}
span.color-box{
    display: block;
    cursor: pointer;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    border: 1px solid #fff;
}

/* Colors */
.red{
    background: #A21F1E;
}
.blue{
    background: #5DBCD2;
}
.yellow{
    background: #F1AB3E;
}

/* Image */
.bg-image{
    position: absolute;
    bottom:15px;
    left: 0;
}

.logo{
    width: 65px;
}
#logo-frame{
    height: calc(100% - 14px);
    width: calc(100% - 14px);
    background-color: #000;
    position: absolute;
    top: 0;
    left: 0;
    margin: 7px;
}

#logo-frame img{
    width: 190px;
    margin-left: auto;
    margin-right: auto;
    
}



