@font-face {
    font-family: MiniGlobal;
    src: url('../assets/fonts/mibd.ttf');
  }
img{
    width: 100%;
}

.hide{
    display: none;
}

.flex{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.banner-container{
    position: relative;
    width: 300px;
    height: 250px;
    margin: auto;
    font-family: MiniGlobal, Arial, Helvetica, sans-serif;
    text-transform: uppercase; 
    /* padding: 7px; */
    
    
}

/* Main Container */
#banner{
    height:100%;
    width: 100%;
    background:  no-repeat center; 
    background-size: 90%;
    background-color: #000;
    
}

/* Text Container */
.text-container{
    position: relative;
    top:0;
    padding: 15px;
    z-index: 100;
}

.text{
    color: #fff;
    margin: 0;
    text-align: left;
    line-height: 1;
}
#main-text p{
    font-size: 22px;
}
#main-text h1{
    font-size: 28px;
}


/* Buttons */
.btn-container{
    position: absolute;
    bottom: 10px;
    left: 10px;
}
.btn-container button{
    font-size: 14px;
    width: 140px;
    cursor: pointer;
    text-transform: uppercase;    
    padding: 7px 2px;
    outline: none;
    border: 1px solide #fff;
    background-color: #000;    
    color: #fff;
    font-family: MiniGlobal, Arial, Helvetica, sans-serif;
    
}
#color-controls{
    font-size: 14px;

}

#color-controls .text{
    margin-right: 10px;
}
span.color-box{
    display: block;
    cursor: pointer;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    border: 1px solid #fff;

}

/* Colors */
.red{
    background: #FF0000;
}
.blue{
    background: #0000ff;
}
.yellow{
    background: #FFff00;
}

/* Image */
.bg-image{
    position: absolute;
    bottom:15px;
    left: 0;
}



